{% extends "gii_django_blog/base.html" %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2><a href="{{ post.id }}">{{ post.title }}</a></h2>
            <h5>
                {{ post.created }}
                {% if request.user.is_superuser %}
                    <span style="color:{% if post.published %}green{% else%}red{% endif %};font-size: 1.3rem">{{ post.published }}</span>
                {% endif %}
            </h5>
            {{ post.short_text | safe }}
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>
{% endblock %}