{% extends "gii_django_blog/base.html" %}

{% block content %}
    <article>
        <h2><a href="{{ object.id }}">{{ object.title }}</a></h2>

        {% if request.user.is_superuser %}
            <span style="color:{% if post.published %}green{% else%}red{% endif %};font-size: 1.3rem">{{ object.published }}</span>
            <a href="/admin/gii_django_blog/post/{{ object.id }}/change/">edit</a>
        {% endif %}

        {{ object.text | safe }}

        <div class="comments">

            <h2>Комментарии</h2>

            {% if messages %}
                <ul class="comment__messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="comment__message-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <form action="/blog/add_comment" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ object.id }}">
                <div>
                    <input name="user_name" placeholder="Имя" value="{{ user_name }}">
                </div>
                <div>
                    <textarea name="comment" placeholder="Комментарии" rows="7">{{ comment }}</textarea>
                </div>
                <input type="submit">
            </form>

            {% for comment in comments %}
                <div class="comment">
                    <div class="comment__author">{{ comment.user_name }}</div>
                    <div class="comment__date">
                        {{ comment.created }}
                        {% if request.user.is_superuser %}
                            <span style="color:{% if comment.published %}green{% else%}red{% endif %};font-size: 1.3rem">{{ comment.published }}</span>
                        {% endif %}
                    </div>
                    <div class="comment__text">{{ comment.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </article>

{% endblock %}